@use '../../styles/mixins' as *;

.view-portfolio__container{
    width: 90%;
    margin-top: 6rem;
    margin-left: 2rem;
    margin-bottom: 15rem;
    @include tablet{
    width: 48%;
    margin-top: 8rem;
    margin-left: auto;
    margin-right: 2rem;
    margin-bottom: 10rem;
}
}