@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
@use '../../styles/typography' as *;

.nav-header {
    display: flex;
    flex-direction: row;
    margin-top:5rem;
    background-color:$tertiary-color;
    padding-top: 2rem;
    justify-content: center;
    width: 100%;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border: 1px solid #4a90e2;
    box-shadow: 0 0 10px #4a90e2;
    @include tablet{
    margin-top: 0;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    padding: 2rem;
    padding-left: 3rem;
    width:20vw;
    }}

.nav-header nav ul {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    flex-shrink: 1;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 0.5rem;
    @include tablet{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    
    }
}

.nav-header nav ul li {
    
    margin-bottom: 20px;
}

    .nav-header nav ul li a {
        
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
    transition: color 0.3s;

    &:hover {
        color: #2ecc71; 
    }
    }

    .nav-header nav ul li a.active{
        color: #1b2a8d;
        font-weight: 700;
    }