@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
@use '../../styles/typography' as *;

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $secondary-color; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.header-title {
    margin: 0;
    font-size: 1.5rem;
    font-family: 'Merriweather', serif;
}

.header-link {
    color: $primary-color; 
    text-decoration: none;

    &:hover {
    color: $tertiary-color; 
    }
}